
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: lightgrey;
}

.container{
    width: 80vw;
    height: 80vh;
    margin: 0 auto;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 4px 3px lightgray;
}

.loader-container{
    width: 360px;
    height: 180px;
    display: grid;
    place-items: center;
    background-color: cadetblue;
}

.loader{
    width: 80px;
    height: 80px;
    background-color: transparent;
    border: 7px solid red;
    border-radius: 50%;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    animation: loader 2s linear infinite;
}

@keyframes loader{
    0%{
        transform: rotate(0deg);
    }
    
    100%{
        transform: rotate(360deg);
    }
}